/*Arquivo CSS

Para toda a página*/ /**/

/*

#2987c8 azul
#85ccec azul claro
#d0d4d9 cinza claro
#85858c cinza 
#2c2e35 cinza escuro


*/

.fonte-menu {
  font-family: unset;
  font-weight: bold;
  color: #2987c8;
}

.primary {
  color: #2987c8;
}

.bg-primary {
  background-color: #2987c8;
}

.info {
  color: #85ccec;
}

.bg-info {
  background-color: #85ccec;
}

.secondary {
  color: #85858c;
}

.bg-secondary {
  background-color: #85858c;
}

.light {
  color: white;
}

.bg-light {
  background-color: white;
}

.bg-image {
  background-image: url(../images/imagem_fundo_2_4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: relative;
  padding-bottom: 100px;
}

.hiper {
  list-style-type: none; /* Remove os bullets da lista não ordenada */
  padding: 0; /* Opcional: Remove o espaçamento interno padrão das listas */
  text-decoration: none; /* Remove o sublinhado dos itens da lista */
}

.hiper li a {
  text-decoration: none;
}

.hiper ul ol {
  list-style: none; /* Remove os bullets das listas */
  padding: 0; /* Opcional: Remove o espaçamento interno padrão das listas */
  text-decoration: none;
}

.container-form {
  width: 400px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
.card{
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
  border-radius: 20px;
}

.header {
  color: rgb(32, 32, 104);
  padding: 20px;
  text-align: center;
  font-weight: bold;
}


.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}
.text-white.img{
  background: -webkit-linear-gradient(45deg, #262192, #4E49CC, #7974F2);
}
.mb-3 i{
  background: -webkit-linear-gradient(45deg, #262192, #4E49CC, #7974F2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px; /* Ajuste conforme necessário */

}



.input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 5px;
  width: 100%;
  padding: 10px;
  background-color: #d6e7ff;

}

input:focus {
  background-color: rgb(255, 243, 203);
}

form .button {
  background-color: rgb(9, 60, 0);
  border: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  transition: 0.7s;
}

.form .button:hover {
  cursor: pointer;
  background-color: linear-gradient(-45deg, rgb(57, 4, 155), rgb(41, 0, 118), rgb(26, 0, 75)) ;
  /* background-color: rgb(57, 4, 155) ; */
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}




.footer-content {
  background-color: white; /* Cor de fundo do rodapé */
  color:#85858c; /* Cor do texto do rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: left; /* Centralizar texto do rodapé */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1080px) {
  .bg-image {
    background-size: 115%;
  }
}

@media (max-width: 576px) {
  .bg-image {
    background-size: 125%;
  }
}

@media (max-width: 280px) {
  .bg-image {
    background-size: 175%;
  }
}
